:root{
  --space-1:5px;
  --space-2:8px;
  --space-3:15px;
  --space-4:24px;
  --space-5:42px;
  --space-6:64px;
  --space-7:96px;
  --space-8:250px;

  --radius-sm:5px;
  --radius-pill:15px;
  --radius-circle:50%;

  --page-margin:250px;
  --page-width:1440px;
  --content-width:940px;
}
