:root{
  --text-display:400 48px/100% var(--font-body);
  --text-title-xl:500 64px/100% var(--font-body);
  --text-title-lg:500 48px/100% var(--font-body);
  --text-title-md:400 24px/100% var(--font-body);
  --text-body-lg:500 18px/100% var(--font-body);
  --text-body:400 14px/100% var(--font-body);
  --text-label:700 11px/100% var(--font-body);
  --letter-spacing-wide:0.1em;
}
